body {
	background-color:transparent;
	font-family:Arial;
	margin:0;
	overflow-x:hidden;
	-webkit-user-select: none;
}

.navbar {
	background-color:#222;
	height:40px;padding:10px;
	text-align:center;
	color:#fff;
	font-size:20px;
	font-weight:bold;
	line-height:40px;
}

.navtitle {
	text-align:center;
	margin:auto
}

.navbtn {
	background-color:#333;
	padding:5px 10px;
	height:30px;
	color:#fff;
	font-size:18px;
	font-weight:bold;
	line-height:30px;
	border-radius:4px;
	border:1px solid #666
} 

#actionbtn {
	float:right;
}

#viewbtn {
	float:left;
}

.query {
	padding:10px;
	background-color:#aaa;
	border-bottom:1px solid #fff;
	font-size:14px;
	font-weight:bold;
	color:#222;
}

.item {
	padding:20px 10px; 
	background-color:#eee;
	border-bottom:1px solid #fff;
	font-size:18px;color:#333;
	text-shadow:0 1px #fff
}

.searchbox {
	padding:5px;
	background-color:#eee;
	border-bottom:1px solid #fff;
}

#search {
	box-sizing: border-box;
	width:100%;
	height:40px;
	font-size:16px;
	border-radius:20px;
	border:1px solid #bbb
}

.mapView {
	display:none
}

#map {
	height:200px;
}

#arView, #topView {
	display:none;
}

#arView{
	padding:30px 0; 
	height:70px;
	text-align:center
}

.arMessage {
	color:#ddd;
	font-size:14px
}

#spot {
	text-align:center
}

.name, .distance {
	text-shadow:0 1px #666
}

.name {
	padding:15px;
	font-weight:bold;
	background-color:rgba(204,34,34,0.5);
	border-radius:40px;
	margin-bottom:10px
}

#direction {
	color:#fff;
	font-size:20px;
	padding:15px;
	font-weight:bold;
	background-color:#a22;
	border-radius:40px;
	display:inline-block;
	margin-bottom:10px;
	width:40px;
	line-height:40px
}

.distance {
	font-size:14px;
	font-weight:normal;
}

#debug {
	border:1px solid #999;
	display:none
}

.heading {
	background-color:#999;
	color:#eee;padding:5px;
}

#compass, #accelerometer, #geolocation {
	padding:5px
}